.folder-section {
  background: #f2f2f2;
  border-radius: 24px;
  border: 3px solid var(--secondary-dark, #cfb097);
  height: 520px;
  width: 1031px;
  display: flex;
  align-items: center;
  gap: 64px;
  align-self: center;
}

.folder-description {
  display: flex;
}

.element-group {
  position: relative;
  width: 581px;
  height: 520px;
  border-radius: 24px;
}

.element {
  width: 342px;
  height: 520px;
  border-radius: 24px;
  border: 3px solid #cfb097;
  background: #f2e9e2;
  transition: 0.5s ease-in-out;
}

.text-level {
  position: absolute;
  bottom: 34px;
  right: 0px;
  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 56px;
  transform: rotate(90deg);
}

.text-level-active {
  color: var(--white, #fff);
}

.active {
  background-color: var(--main, #7b628a);
  color: #fff;
  .text-level {
    color: #fff;
    transition: 0.5s ease-in-out;
  }
  /* transform: translateX(25px); */
}

.fol-1 {
  position: absolute;
  z-index: 10;
  left: 0px;
}

.fol-2 {
  position: absolute;
  z-index: 8;
  left: 80px;
}

.fol-3 {
  position: absolute;
  z-index: 4;
  left: 160px;
}
.fol-4 {
  position: absolute;
  z-index: 2;
  left: 240px;
}

.flower-description {
  display: flex;
  width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.flower-img {
  display: flex;
  height: 200px;
  width: 200px;
  padding: 0 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.flower-img-1 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-1.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-img-2 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-2-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}
.flower-img-3 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-3-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-img-4 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-4-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-text {
  width: 320px;
  color: var(--black, #000);
  font-family: "din-2014";
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.255px;
}

.flower-1 {
  display: none;
}

.flower-2 {
  display: none;
}

.flower-3 {
  display: none;
}

.flower-4 {
  display: none;
}
