html,
body {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: #000;
}

.header {
  border-bottom: 0.5px solid var(--main, #7b628a);
  background: var(--white, #fff);
  box-shadow: 0 1px 4px 0 rgba(123, 98, 138, 0.25);
  position: sticky;
  top: 0px;
  left: 0px;
  min-width: 1280px;
  padding: 16px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 20;
}

.nav-bar {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-box {
  display: flex;
  padding-right: 122px;
  align-items: center;
  gap: 8px;
}

.nav-bar-buttons {
  display: flex;
  padding: 8px 0;
  align-items: center;
  gap: 24px;
}

.btn {
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}

.btn-header {
  color: var(--black, #000);
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-page {
  color: var(--black, #7b628a);
  display: flex;
  font-size: 20px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-header:hover {
  background-color: var(--main, #7b628a);
  cursor: pointer;
  color: #fff;
  a {
    color: #fff;
  }
}

.btn-accent {
  border-radius: 12px;
  background: var(--accent, #e9bf57);
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
}

.btn-accent:hover {
  background: #6e5415;
  cursor: pointer;
}

.btn-cta-header {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo-dark-small {
  width: 48px;
  height: 48px;

  background-image: url(../asset/logo/small-dark.png);
}

.main-content {
  display: flex;
  justify-content: center;
  padding: 80px 0;
}
.box-1280 {
  display: flex;
  width: 1280px;
  height: 1024px;
  min-width: 1280px;
  padding: 138px 96px;
  align-items: center;
  gap: 484px;
}
.big-box {
  width: 1280px;
  height: 720px;
  background: #7b628a;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.big-title {
  color: var(--white, #fff);
  text-align: center;
  font-family: "aladin";
  font-size: 120px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.content-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-side {
  margin-top: 150px;
  margin-left: 96px;
  display: flex;
  flex-direction: column;
  gap: 56px;
}
.info-box {
  color: var(--white, #fff);
  text-align: center;
  font-family: "din-2014";
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.btn-start {
  width: 440px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 16px 0px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--accent, #e9bf57);
}

.btn-start:hover {
  background: #6e5415;
  cursor: pointer;
}

.bottom-images {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.small-image {
  width: 120px;
  height: 120px;
  border-radius: 12px;
  object-fit: cover;
  border-radius: 600px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.25);
}
.right-side {
  display: flex;
  justify-content: center;
}

.main-image {
  margin-right: 96px;
  width: 450px;
  height: 450px;
  border-radius: 12px;
}

.second-page {
  display: flex;
  justify-content: center;
  padding: 180px 0;
}
.white-box {
  width: 90%;
  height: 90%;
  background: #fff;
  border-radius: 20px;
  display: flex;
}
.left-img-box {
  width: 50%;
  height: 840px;
}
.left-big-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 20px 20px;
}
.right-text-box {
  width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-left: 40px;
}

.discover-title {
  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.discover-text {
  color: #1a1a1a;
  font-family: "din-2014";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.18px;
  width: 70%;
  align-self: center;
}

.btn-discover {
  font-family: Futura;
  text-align: center;
  align-self: center;
  margin-top: 64px;
  background: #7b628a;
  color: #fff;
  padding: 16px;
  border-radius: 12px;
  font-size: 20px;
  cursor: pointer;
  width: 70%;
}
#btn-discover-a {
  color: white;
}

.btn-discover:hover {
  background-color: var(--main, #4a3557);
  border-radius: 12px;
  cursor: pointer;
}

.small-space {
  width: 100%;
  height: 50px;
  background: white;
}

.third-page {
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
}
.purple-box {
  width: 75%;

  max-width: 1440px;
  background: #7b628a;
  border-radius: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.gameplay-title {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
  margin-bottom: 40px;
}
.gameplay-content {
  display: flex;
  gap: 40px;
  margin-top: 120px;
}
.left-text {
  width: 50%;
  color: var(--white, #fff);
  font-family: "din-2014";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.18px;
  margin-left: 48px;
}
.right-red-box {
  width: 50%;
  background: #7b628a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-container {
  width: 80%;
  height: 100%;
}
.game-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.footer-1280 {
  background: var(--main, #7b628a);
  margin-top: 200px;

  display: flex;
  min-width: 1280px;
  padding: 4px 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.game-title {
  color: var(--white, #fff);
  font-family: Aladin;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-footer {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.btn-footer:hover {
  background-color: var(--main, #4a3557);
  border-radius: 12px;
  cursor: pointer;
}

.logo-footer {
  display: flex;
  padding-left: 108px;
  align-items: center;
  gap: 8px;
}

.logo-light-small {
  width: 48px;
  height: 48px;

  background-image: url(../asset/logo/small-light.png);
}

.fourth-page {
  width: 100%;
  height: 85%;
  display: flex;
  justify-content: center;
}
.white-box-4 {
  width: 90%;
  background: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.purple-column {
  width: 40%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.column-title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}
.purple-rect {
  width: 100%;
  height: 75%;
  background: #7b628a;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.number-display {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.4px;
}

.h3 {
  color: var(--black, #000);
  text-align: center;
  font-family: "din-2014";
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.48px;
}

.slide-left,
.slide-right {
  opacity: 0;
  position: relative;
  transition: 1.3s ease-out;
}

.slide-left {
  transform: translateX(-150px);
}

.slide-right {
  transform: translateX(150px);
}

.slide-visible {
  transform: translateX(0);
  opacity: 1;
}
