a {
  text-decoration: none;
  color: #000;
}

b {
  font-family: "futura";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.35px;
}

@keyframes levitate {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-24px);
  }
  100% {
    transform: translateY(0px);
  }
}

.levitation-animation {
  animation-name: levitate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.header {
  border-bottom: 0.5px solid var(--main, #7b628a);
  background: var(--white, #fff);
  box-shadow: 0 1px 4px 0 rgba(123, 98, 138, 0.25);
  position: sticky;
  top: 0px;
  left: 0px;
  min-width: 1280px;
  padding: 16px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  z-index: 20;
}

.nav-bar {
  display: flex;
  width: 1280px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-box {
  display: flex;
  padding-right: 122px;
  align-items: center;
  gap: 8px;
}

.nav-bar-buttons {
  display: flex;
  padding: 8px 0;
  align-items: center;
  gap: 24px;
}

.btn {
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
}

.btn-header {
  color: var(--black, #000);
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-page {
  color: #4a3557;
  display: flex;
  font-size: 20px;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.btn-header:hover {
  background-color: var(--main, #7b628a);
  color: #fff;
  a {
    color: #fff;
  }
}

.btn-accent {
  border-radius: 12px;
  background: var(--accent, #e9bf57);
  display: flex;
  padding: 0px 32px;
  justify-content: center;
  align-items: center;
}

.btn-accent:hover {
  background: #6e5415;
}

.btn-cta-header {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.logo-dark-small {
  width: 48px;
  height: 48px;

  background-image: url(asset/logo/small-dark.png);
}

.main-content {
  margin-top: 48px;
  gap: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-title {
  display: flex;
  width: 1030px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.h1 {
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.48px;
}

.subtitle {
  color: #4a434e;
  font-family: "din-2014";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.255px;
  text-align: center;
}

.discover-1280 {
  margin-top: 32px;
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.section {
  display: flex;
  width: 1280px;
  padding: 0 125px;
  flex-direction: column;
  align-items: center;
  gap: 64px;
}

.title-dark {
  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
}

.title-light {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.5px;
}

.aera-full {
  height: 526px;
  width: 1031px;

  display: flex;
  align-items: center;
  gap: 64px;
  align-self: center;
}

.folder-section {
  background: #f2f2f2;
  border-radius: 24px;
  border: 3px solid var(--secondary-dark, #cfb097);
  height: 520px;
  width: 1030px;
  display: flex;
  align-items: center;
  gap: 64px;
  align-self: center;
}

.folder-description {
  display: flex;
}

.element-group {
  position: relative;
  width: 581px;
  height: 526px;
}

.element {
  width: 342px;
  height: 520px;
  border-radius: 20px;
  border: 3px solid #cfb097;
  background: #f2e9e2;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.text-level {
  position: absolute;
  bottom: 34px;
  right: 0px;
  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 56px;
  transform: rotate(90deg);
}

.text-level-active {
  color: var(--white, #fff);
}

.active {
  background-color: var(--main, #7b628a);
  color: #fff;
  .text-level {
    color: #fff;
    transition: 0.5s ease-in-out;
  }
}

.fol-1 {
  position: absolute;
  z-index: 10;
  left: 0px;
}

.fol-2 {
  position: absolute;
  z-index: 8;
  left: 80px;
}

.fol-3 {
  position: absolute;
  z-index: 4;
  left: 160px;
}
.fol-4 {
  position: absolute;
  z-index: 2;
  left: 240px;
}

.flower-description {
  display: flex;
  width: 320px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.flower-img {
  display: flex;
  height: 200px;
  width: 200px;
  padding: 0 60px;
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
}

.flower-img-1 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-1.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-img-2 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-2-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}
.flower-img-3 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-3-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-img-4 {
  height: 200px;
  width: 200px;
  background-image: url(asset/flowers/200-flower-4-frame.png);
  box-shadow: 0 1px 6px 0 var(--main, #7b628a);
  border-radius: 200px;
}

.flower-text {
  width: 320px;
  color: var(--black, #000);
  font-family: "din-2014";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.255px;
}

.flower-1 {
  display: none;
}

.flower-2 {
  display: none;
}

.flower-3 {
  display: none;
}

.flower-4 {
  display: none;
}

.objects {
  border-radius: 16px;
  background: var(--main, #7b628a);
  display: flex;
  width: 1280px;
  padding: 16px 124.5px 121px 124.5px;
  flex-direction: column;
  align-items: center;
  align-self: center;
  gap: 64px;
}

.objects-content {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 64px;
}

.object-column-1 {
  display: flex;
  width: 322px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.object-image-screenshot {
  width: 157px;
  height: 286px;
  background-image: url("asset/shop-screenshot.png");
}

.callout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.callout-bar {
  width: 8px;
  height: 144px;
  background-color: white;
  border-radius: 2px;
}

.callout-label {
  width: 300px;
  color: var(--white, #fff);
  font-family: "din-2014";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.32px;
}

.object-column {
  display: flex;
  width: 300px;
  height: 450px;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}

.object-image {
  height: 195px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 20px;
}

.object-potion-img {
  background: url(asset/objects/potion-300.png) no-repeat;
}

.object-broom-img {
  background: url(asset/objects/broom-300-removebg.png) no-repeat;
}

.object-text {
  color: var(--white, #fff);
  font-family: "din-2014";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.18px;
}

.card-familiar-group {
  display: flex;
  align-items: center;
  gap: 12%;
}

.smart-card {
  position: relative;
  z-index: 2;
  width: 264px;
  height: 400px;
}

.card-familiar {
  position: relative;
  display: flex;
  justify-content: center;
  width: 264px;
  height: 400px;
  border-radius: 20px;
  background: var(--main, #7b628a);
  transition: 1s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.card-familiar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: #f2e9e2;
  transition: 1s ease-in-out;
  z-index: -1;
}

.card-familiar:hover::before {
  height: 100%;
}

.card-familiar-name {
  margin-top: 16%;
  height: 44px;
  color: #f4f5fd;
  text-align: center;
  font-family: Futura;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: 1s ease-in-out;
}

.card-familiar-dragon {
  margin-top: 16%;
  height: 44px;
  color: #f4f5fd;
  text-align: center;
  font-family: Futura;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.36px;
  transition: 1s ease-in-out;
}

.card-familiar-description {
  position: absolute;
  top: 8%;
  width: 204px;
  height: 288px;
  color: #1c1c33;
  font-family: "din-2014";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.255px;
  opacity: 0;
  visibility: hidden;
  transition: 1.2s ease-in-out;
}

.card-familiar:hover .card-familiar-name {
  transform: translate(72px, 308px);
  color: #4a3557;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.56px;
  position: absolute;
}

.card-familiar:hover .card-familiar-dragon {
  transform: translate(0px, 308px);
  color: #4a3557;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -0.56px;
  position: absolute;
}

.card-familiar:hover .card-familiar-description {
  opacity: 1;
  visibility: visible;
}

.familiar-frog-img {
  position: absolute;
  z-index: 10;
  left: -68px;
  bottom: -82px;
  width: 178px;
  height: 178px;

  background-image: url(asset/familiar/familiar-frog.png);
}
.familiar-cat-img {
  position: absolute;
  z-index: 10;
  left: -42px;
  bottom: -82px;
  width: 234px;
  height: 234px;
  background-image: url(asset/familiar/familiar-cat.png);
}
.familiar-dragon-img {
  position: absolute;
  z-index: 10;
  right: -178px;
  bottom: -82px;
  width: 250px;
  height: 250px;
  background-image: url(asset/familiar/familiar-dragon.png);
}

.footer-1280 {
  background: var(--main, #7b628a);
  margin-top: 200px;

  display: flex;
  min-width: 1280px;
  padding: 4px 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.game-title {
  color: var(--white, #fff);
  font-family: Aladin;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-footer {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.btn-footer:hover {
  background-color: #4a3557;
  border-radius: 12px;
}

.logo-footer {
  display: flex;
  padding-left: 108px;
  align-items: center;
  gap: 8px;
}

.logo-light-small {
  width: 48px;
  height: 48px;

  background-image: url(asset/logo/small-light.png);
}
