.about-1280 {
  width: 1280px;
  height: 606px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 90px;
}

.title {
  color: var(--black, #000);
  text-align: center;
  font-family: Futura;
  font-size: 52px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 1.56px;
}

.card-layout {
  display: flex;
  align-items: center;
  gap: 59px;
  align-self: stretch;
}

.card {
  border-radius: 20px;
  background: var(--main, #7b628a);

  display: flex;
  width: 276px;
  height: 477px;
  padding: 48px 0;
  flex-direction: column;
  align-items: center;
}

.card-name {
  width: 276px;
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  padding-bottom: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.avatar-julie {
  background-image: url(asset/card/about_us/avatar/transparent-Julie.png);
  display: flex;
  width: 260px;
  height: 260px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.avatar-jordan {
  background-image: url(asset/card/about_us/avatar/transparent-jordan.png);
  display: flex;
  width: 260px;
  height: 260px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}
.avatar-samy {
  background-image: url(asset/card/about_us/avatar/transparent-samy.png);
  display: flex;
  width: 260px;
  height: 260px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.avatar-wesley {
  background-image: url(asset/card/about_us/avatar/transparent-wes.png);
  display: flex;
  width: 260px;
  height: 260px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1/1;
}

.footer-1280 {
  background: var(--main, #7b628a);

  display: flex;
  min-width: 1280px;
  padding: 4px 72px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.game-title {
  color: var(--white, #fff);
  font-family: Aladin;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.btn-footer {
  color: var(--white, #fff);
  text-align: center;
  font-family: Futura;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.logo-footer {
  display: flex;
  padding-left: 108px;
  align-items: center;
  gap: 8px;
}

.logo-light {
  width: 48px;
  height: 48px;
  aspect-ratio: 1/1;
  background-image: url(asset/logo/small-light.png);
}
